@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@200&family=Cinzel:wght@500&family=Secular+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Big Shoulders Display", cursive;
  background-color: rgb(244, 240, 238);
}


